body {
    width: 100%;
    height: 100%;
}
.menusuperior {
    width: 100%;
    background-color: black;
    height: 60px;
}
main{
    width: 980px;
    float: left;
    position: relative;
}
.logo {
    padding: 15px;
}